<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

    <appSettings>
      <add key="UsernameForTest" value="" />
      <add key="PasswordForTest" value="" />
      <add key="AppIdForTest" value="7395016" />
    </appSettings>
</configuration>