<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  
  <!--
    Для отключения контроля изменений этого файла надо использовать команду
      git update-index \-\-skip-worktree UI/App.config
      
    Для включения
      git update-index \-\-no-skip-worktree UI/App.config
      
      https://docs.microsoft.com/en-us/azure/devops/repos/git/ignore-files?view=azure-devops&tabs=visual-studio
    
    
    Если перестал работать .gitignore, то можно очистить гит-кэш
      git rm -rf \-\-cached .
      git add .
  -->
    <appSettings>
      <add key="UsernameForTest" value="" />
      <add key="PasswordForTest" value="" />
      <add key="AppIdForTest" value="7395016" />
    </appSettings>
</configuration>